.git
.gitignore
.env
.env.*
!.env.production.example
node_modules
vendor
public/build
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
database/*.sqlite
database/*.sqlite-journal
data-migration
.phpunit.result.cache
.phpunit.cache
.fleet
.idea
.nova
.vscode
.zed
npm-debug.log
yarn-error.log
